---
---

@import "{{ site.theme }}";

div.video-container {
  width: 655px; /* Set a fixed width for the video */
  height: 255px; /* Set a fixed height for the video */
}

div.video-container iframe {
  width: 655px; /* Set a fixed width for the video */
  height: 255px; /* Set a fixed height for the video */
}
